{
    // collection of code tranform plugins, that actually trasnform the code
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 5 versions",
                        "ie >= 8"
                    ]
                }
            }
        ]
    ]
}