/*
 Browser prefixes:
-webkik-
Andriod:
Chrome:
iOS:
Safari:

Firefox: -moz-
Opera: -o-
IE: -ms-

-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-o-border-radius: 25px;
border-radius: 25px;

use autoprefix extension

*/

/*  
From big tablets to 1200px (width smaller than 1140px row) 
*/

@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}
	.row {
		padding: 0 2%;
	}
}

/*  
1024px ipad in landscaped mode.

Small tablets to big tablets. 768-1023px
*/
@media only screen and (max-width: 1023px) {
	body {
		font-size: 18px;
	}
	section {
		padding: 60px 0;
	}
	.long-specials {
		width: 80%;
		margin-left: 10%;
	}

	.icon-small {
		width: 17px;
		margin-right: 10px;
	}
	.city-feature {
		font-size: 90%;
	}

	.contact-form {
		width: 80%;
	}
}

/*  
Small phones to small tablets 481-767px
*/
@media only screen and (max-width: 767px) {
	body {
		font-size: 20px;
	}
	section {
		padding: 30px 0;
	}
	.row,
	.hero-text-box {
		padding: 0 4%;
		font-size: 80%;
	}
	.cow-logo {
		height: 60px;
		width: auto;
	}
	.col {
		width: 100%;
		margin: 0 0 4% 0%;
	}
	button .navbar-toggler {
		display: none;
	}

	h1 {
		font-size: 180%;
	}
	h2 {
		font-size: 150%;
	}

	.long-specials {
		width: 100%;
		margin-left: 0;
	}

	header {
		background-image: url("../img/meat1_dark.jpg");
		background-size: auto;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh;
		background-attachment: fixed;
	}
}

/*  
When the screen is less than or equal to 480px
These styles will be executed. 
480px is width of iphones

For small phone 0-480px
*/
@media only screen and (max-width: 480px) {
	section {
		padding: 25px 0;
	}
	.contact-form {
		width: 100%;
	}
}
